In [4]:
import pandas as pd
from sqlalchemy import create_engine

# Store CSV to DF

In [8]:
csv_file = "Resources/all_platforms.csv"
all_platforms_df = pd.read_csv(csv_file)
all_platforms_df.head()

,Date,Facebook,Pinterest,StumbleUpon,Twitter,reddit,Tumblr,YouTube,Instagram,LinkedIn,Digg,MySpace,Fark,Google+,NowPublic,news.ycombinator.com,Delicious,VKontakte,Vimeo,Other
0,2009-04,12.89,0.0,42.45,6.69,9.83,0.0,0.0,0.0,0.00,6.02,19.04,0.30,0.0,0.03,0.08,0.38,0.0,0.0,2.30
1,2009-05,15.88,0.0,42.55,10.45,9.10,0.0,0.0,0.0,0.27,6.85,11.06,0.65,0.0,0.04,0.12,0.46,0.0,0.0,2.57
2,2009-06,17.02,0.0,38.08,11.25,14.80,0.0,0.0,0.0,0.50,5.17,9.46,1.03,0.0,0.05,0.12,0.47,0.0,0.0,2.06
3,2009-07,19.08,0.0,43.41,10.55,11.64,0.0,0.0,0.0,0.40,5.05,6.86,0.34,0.0,0.05,0.15,0.43,0.0,0.0,2.04
4,2009-08,24.45,0.0,38.84,11.37,11.85,0.0,0.0,0.0,0.45,3.92,5.85,0.64,0.0,0.08,0.09,0.41,0.0,0.0,2.06

In [10]:
reduced_platforms_df = all_platforms_df[["Date", "Facebook", "Twitter",
                                    "Instagram", "Google+", "YouTube", "reddit"]]
reduced_platforms_df

        Date  Facebook  Twitter  Instagram  Google+  YouTube  reddit
0    2009-04     12.89     6.69       0.00      0.0     0.00    9.83
1    2009-05     15.88    10.45       0.00      0.0     0.00    9.10
2    2009-06     17.02    11.25       0.00      0.0     0.00   14.80
3    2009-07     19.08    10.55       0.00      0.0     0.00   11.64
4    2009-08     24.45    11.37       0.00      0.0     0.00   11.85
..       ...       ...      ...        ...      ...      ...     ...
150  2021-10     70.81     8.89       5.21      0.0     1.51    1.11
151  2021-11     66.72    10.99       5.92      0.0     1.60    1.62
152  2021-12     70.56     9.65       5.21      0.0     1.35    1.18
153  2022-01     73.78     8.32       5.58      0.0     1.42    1.07
154  2009-03      0.00     0.00       0.00      0.0     0.00    0.00

[155 rows x 7 columns]

In [ ]:
csv_file_2 = "Resources/console.csv"
console_df = pd.read_csv(csv_file_2)
console_df.head()

In [ ]:
reduced_console_df = console_df[["Date", "Facebook", "Twitter",
                                    "Instagram", "Google+", "YouTube", "reddit"]]
reduced_console_df

In [ ]:
csv_file_3 = "Resources/Desktop_201001-202112.csv"
desktop_df = pd.read_csv(csv_file_3)
desktop_df.head()

In [ ]:
reduced_desktop_df = desktop_df[["Date", "Facebook", "Twitter",
                                    "Instagram", "Google+", "YouTube", "reddit"]]
reduced_desktop_df

In [ ]:
csv_file_4 = "Resources/mobile_social_media.csv"
mobile_df = pd.read_csv(csv_file_4)
mobile_df.head()

In [ ]:
reduced_mobile_df = mobile_df[["Date", "Facebook", "Twitter",
                                    "Instagram", "Google+", "YouTube", "reddit"]]
reduced_mobile_df

In [ ]:
csv_file_5 = "Resources/US_tablet_data.csv"
tablet_df = pd.read_csv(csv_file_5)
tablet_df.head()

In [ ]:
reduced_platforms_df = tablet_df[["Date", "Facebook", "Twitter",
                                    "Instagram", "Google+", "YouTube", "reddit"]]
reduced_tablet_df

In [ ]:
retail_2021_file = "Resources/retail_food_2021.csv"

# Read our Kickstarter data into pandas
retail_2021_file = pd.read_csv(retail_2021_file)
retail_2021_file.head()

In [ ]:
reduced_platforms_df = all_platforms_df[["Date", "Facebook", "Twitter",
                                    "Instagram", "Google+", "YouTube", "reddit"]]
reduced_platforms_df

In [ ]:
"Electronic shopping and mail order houses"